<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I Hate PDF/About</title>
    <link
      href="{{ url_for('serve_static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Top Navigation bar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            class="img-fluid"
            src="{{ url_for('serve_images', filename='logo.png') }}"
            alt="Logo"
            height="30"
            width="30"
          />
          I Hate PDF</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">PDF Converter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/language_translator"
                >Language Translator</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navigation bar ends -->

    <div class="container">
      <p>
        Welcome to I hate PDF, your one-stop solution for all your PDF to text
        conversion needs!
      </p>
      <h3>Our Story</h3>
      <p>
        At I hate PDF, we believe that information should be accessible to
        everyone, regardless of the format it's in. That's why we've developed a
        powerful PDF to text converter that can quickly and accurately convert
        your PDF files into editable text.
      </p>
      <p>
        Our team of experts has years of experience in the field of document
        conversion, and we're passionate about helping individuals and
        businesses alike to access the information they need. We're committed to
        providing the highest quality conversion services, and we're constantly
        working to improve our technology to meet the evolving needs of our
        customers.
      </p>
      <h3>Our Technology</h3>
      <p>
        Our PDF to text converter uses the pyPDF2 library to extract text from
        your PDF files with high accuracy. Our software currently only supports
        PDFs with some simple text, but will not work with complex diagrams and
        images. We are working towards improving upon this in the future.
      </p>
      <p>
        The language translator on the other hand uses the google translate api
        to provide the best possible translation of your text. Currently only
        supporting three languages, we will definitely add more in near future.
      </p>
      <p>
        We understand that your time is valuable, which is why we've developed a
        user-friendly interface that's easy to use and navigate. Simply upload
        your PDF file, select the conversion options you need, and our software
        will do the rest.
      </p>
      <h3>Our Goals</h3>
      At I hate PDF, our goal is to provide our customers with the best possible
      PDF to text conversion experience. We're committed to:
      <ul>
        <li>
          Providing high-quality conversion services that meet the needs of our
          customers
        </li>
        <li>
          Offering a user-friendly interface that's easy to use and navigate
        </li>
        <li>
          Providing fast and reliable conversion services that are available
          24/7
        </li>
        <li>
          Continuously improving our technology to meet the evolving needs of
          our customers.
        </li>
      </ul>
      <h3>Our Team</h3>
      <p>
        Our team of experts has years of experience in the field of document
        conversion. We're passionate about helping individuals and businesses
        alike to access the information they need. Our team is dedicated to
        providing the highest quality conversion services, and we're committed
        to delivering exceptional customer service.
      </p>
    </div>

    <script src="{{ url_for('serve_static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
